

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F8FD;
  width: 80%;
  margin-right: auto;
  margin-left:auto;
  border-style:none;
  box-sizing: border-box; 
  
}
/* *, ::before, ::after {
  box-sizing: border-content;
  border-width: 0;
  border-style: none;
  border-color: currentColor;
} */

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

textarea::placeholder {
 
  font-size: 13px;
  font-weight: 400;

}

@media (min-width: 768px) {
  textarea::placeholder {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  body {
    width: 67%;
  }
}

@media (min-width: 1024px) {
  body {
    width: 60%;
  }
}



.change .top {
  transform: translateY(13px) rotateZ(45deg);
  -webkit-transform: translateY(13px) rotateZ(45deg);
  -moz-transform: translateY(13px) rotateZ(45deg);
  -ms-transform: translateY(13px) rotateZ(45deg);
  -o-transform: translateY(13px) rotateZ(45deg);
}
.change .middle {
  visibility: hidden;
  
}
.change .bottom {
  transform: translateY(-13px) rotateZ(-45deg);
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  -moz-transform: translateY(-13px) rotateZ(-45deg);
  -ms-transform: translateY(-13px) rotateZ(-45deg);
  -o-transform: translateY(-13px) rotateZ(-45deg);
}


